body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to right,
    #000 0%,
    #918f8f 20%,
    #918f8f 80%,
    #000 100%
  );
}
#quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 900px;
  background: linear-gradient(129deg, #996dff 8.18%, #633bbc 95.51%);
}
#container {
  width: 1060px;
  height: 786px;
  border-radius: 8px;
  background: var(--colors-base-grey-6, #161a24);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
#Screen {
  width: 842px;
  height: 657.7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
}
#head {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: auto;
}
#Pontuacao {
  width: 83px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 6px;
}
#Icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Acertos {
  width: 13px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Acertos p {
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
}
#head p {
  width: auto;
  height: auto;
  color: var(--colors-base-grey-1, #d9d9d9);
  font-family: Sora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
#Text h1 {
  width: 413.6px;
  height: 58px;
  color: var(--colors-base-grey-1, #d9d9d9);
  text-align: center;
  font-family: Sora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
#opcoes {
  width: 842px;
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 46px;
}
#Card1,
#Card2,
#Card3 {
  width: 186px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 32px;
  border-radius: 8px;
  border-top: 3.194px solid var(--colors-base-grey-3, #252c3a);
  border-right: 3.194px solid var(--colors-base-grey-3, #252c3a);
  border-bottom: 6.387px solid var(--colors-base-grey-3, #252c3a);
  border-left: 3.194px solid var(--colors-base-grey-3, #252c3a);
  background: var(--colors-base-grey-4, #1d2330);
}
input[type="radio"] {
  width: 24px;
  height: 24px;
  background-color: blue;
  margin-left: auto;
}
label {
  color: #d9d9d9;
  width: 100%;
  height: 100%;
  font-size: 180px;
  display: flex;
  text-align: right;
  justify-content: space-between;
  flex-direction: column;
}
#footer {
  width: 841.7px;
  height: 44.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}
#questoes {
  width: 35px;
  height: 22px;
  display: flex;
  text-align: center;
  gap: 4px;
  align-items: center;
}
#questoesRestantes {
  width: 14px;
  height: 22px;
  margin: 0;
}
#questoesRestantes p {
  color: var(--colors-base-grey-1, #d9d9d9);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
}
#questoesFaltam {
  width: 17px;
  height: 13px;
}
#questoesFaltam p {
  color: var(--colors-base-grey-1, #d9d9d9);
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 3.6px;
  margin: 0;
}
#Skip {
  width: 44.71px;
  height: 44.71px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Skip button {
  width: 44.71px;
  height: 44.71px;
  background-image: url(assets/Ellipse\ 37.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}
label:active {
  background-color: #626362;
}
@media only screen and (max-width: 1490px) {
  #quiz{
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 20px;
  }
  #container {
    width: auto;
    height: auto;
    border-radius: 20px;
  }
  #Screen {
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 20px 0;
    
  }
  #opcoes {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
  #Card1,
#Card2,
#Card3 {
  width: auto;
  height: auto;
  padding: auto;
}
#head, #footer {
 width:100%;
justify-content: space-evenly;
}
label {
  width: auto;
  height: auto;
  font-size: 10vw;
  
}
#Acertos p, #head p, #Text h1, p  {
  font-size: 2vw;
}
input[type="radio"] {
  width: auto;
  height: auto;
}
}
